<!-- 连接头部文件 -->
{include file='public/header'}
<!-- 连接头部文件 -->
<script type="text/javascript">
	window.onload = function(){ 
		var width = $('.img').width();
		$('.img').height(width); 
	};
	window.onresize =function(){ 
		var width = $('.img').width();
		$('.img').height(width); 
	};
</script>
<!-- 正文 -->
<a href="{:url('admin/index/scenic_add')}"><button type="button" class="layui-btn" style="padding: 0 10px;margin-bottom: 15px;"><i class="layui-icon layui-icon-addition"></i></button></a>

<div class="layui-row layui-col-space30">
	{volist name='intro' id='in'}
	<div class="layui-col-xs2">
		<a href="{:url('admin/index/scenic_add')}?scenic_id={$in.id}">
			<img src="{$in.src}" width="100%" class="img">
			<div class="modify">点击修改信息</div>
			<h3><span class="left">景点：</span><span class="right">{$in.address}</span></h3>
			<h3><span class="left">时长：</span><span class="right">{$in.duration} 分钟</span></h3>
			<h3><span class="left">简介：</span><span class="right">{$in.intro}</span></h3>
		</a>
	</div>
	{/volist}
</div>
<!-- 正文 -->

<!-- 连接底部文件 -->
{include file='public/footer'}
<!-- 连接底部文件 -->
